<!DOCTYPE html>
<html>
 <head>
    <title>GOT discover</title>
     <meta http-equiv="Content-type" content="text/html; charset=utf-8">
     <!-- Libraries: Bootstrap, jQuery, D3 -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"></link>

  </head>
  <body>
    <h1> Hi there </h1>
    <p> Sorry, you are not in our database<br>The test resulted negative and we can not give you further access rights</p>
    <p><img src="https://cdn.vectorstock.com/i/thumb-large/06/04/9330604.jpg" /></p>
    <p>If you would like to use our services please contact us at: contact@roarjam.com </p>
    
    <p><button class ='btn btn-warning' onclick="goBack()">Back</button></p>
    <script>
      function goBack() {
          window.history.back();
      }
    </script>
  </body>
</html>